<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <title>Document</title>
</head>
<body>
{% for message in app.session.flashbag.get('success')%}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<ol class="list list-group">
{% for cle,valeur in app.session.get('mesTodos')%}
   <li class="list list-group-item">
       {{ cle }} : {{ valeur }}
   </li>
{% endfor %}
</ol>
</body>
</html>